.NavBar {
  background-color: var(--primary-color);
  height: 80px;
  z-index: 99;
  color: white;
  text-transform: uppercase;
  position: sticky;
  top: 0;

  .nav-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;

    .nav-left {
      .link-group {
        list-style: none;
        display: flex;
        gap: 16px;

        .hover {
          .link {
            display: inline-block;
            padding: 6px;
          }
        }
      }
    }

    .nav-center {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      user-select: none;
      .banner {
        color: white;
      }
    }

    .nav-right {
      position: relative;
      padding: 6px;

      .icon {
        font-size: 1.2rem;
      }

      .cart-count {
        position: absolute;
        width: 20px;
        height: 20px;
        right: -2px;
        top: -4px;
        background-color: var(--accent-color);
        color: white;
        font-size: 0.6rem;
        border-radius: 50%;
      }
    }
  }
}